:root{
    --fundo_principal: #0f172a;
    --cards: #1e293b;
    --azul: #3b82f6;
    --verde: #22c55e;
    --laranja: #f97316;
    --branco: #f1f5f9;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: var(--fundo_principal);
    color: #e2e8f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: var(--cards);
    width: 500px;
    height: auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

h1{
    font-size: 28px;
    color: var(--branco);
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid var(--fundo_principal);
    padding-bottom: 10px;
}

input{
    width: 480px;
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #334155;
    border: 1px solid #475569;
    color: var(--branco);
}

button{
    height: 30px;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3b82f6;
    color: var(--branco);
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.cadastrar{
    background-color: var(--verde);
    color: var(--branco);
}

button:hover{
    background-color: #16a34a;
    transform: scale(1.05);
}


#resultado{
    margin-top: 30px;
    padding: 20px;
    min-height: 100px;
    border-radius: 10px;
    background-color: var(--fundo_principal);
    border: 1px solid #475569;
    font-size: 14px;
}